﻿
body {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 16px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.required {
    color: #89c4f4;
}
.required:after
{
    content: "*";
    font-weight: bold;
    color: red; 
}

footer {
    background: #78909C;
    color: #ECEFF1;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 20px 0 0 0;
    
}


/* Override Bootstrap Styles */
.navbar-inverse {
    background-color: #455A64;
    border-color: #455A64;
    padding: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ECEFF1;
}

.navbar-inverse .navbar-brand {
    color: #ECEFF1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ECEFF1;
    background-color: #90A4AE;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ECEFF1;
    border-bottom-color: #ECEFF1;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}
.dropdown-menu {
    box-shadow: none;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 17px;
}

.form-control {
    font-size: 16px;
    height: 42px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.form-control:focus {
    border-color: #89c4f4;
    border-width: 2px;
    box-shadow: none;
}

.btn {
    /*font-size: 16px;
    padding: 6px 18px;*/
    -ms-border-radius: 8px;
    border-radius: 8px;
}

/* page-specific */

.teamups {
    list-style: none;
    padding: 0;
}

.teamups > li {
    position: relative;
    padding: 0;
    margin-bottom: 30px;
}

.teamups > li .date-And-detail {
    background:#E0E0E0;
    margin-left: 30px;    
}

.teamups > li .date {
    background: #546E7A;
    color: #E3F2FD;
    text-align: center;
    width: 50px;
}

.teamups > li .date .month {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}

.teamups > li .date .day-and-year {
    background: #B0BEC5;
    color: #455A64;
}

.teamups > li .date .day-and-year .day {
    padding: 3px 0 3px 0;
}
.teamups > li .date .day-and-year .year {
    padding: 0 0 3px 0;
}
.teamups > li .details {
    position: absolute;
    top: 0;
    left: 90px;
    padding: 3px 0 3px 0;
    color: #455A64;
}

.teamups > li .date-And-detail .details .type {
    font-weight: 700;  
    margin-bottom: 5px; 
}

.teamups > li .date-And-detail .details .language {
    font-size: 14px;
    margin-bottom: 5px;
}

.teamups > li .date-And-detail .details .programmer {
    font-size: 14px;
}

.teamups > li .link-buttons {
    background: #CFD8DC;
    margin-left: 30px;
    padding: 7px 7px 7px 60px; 
}

.teamups > li .right-padding {
    padding: 0 40px 0 0;
}

