﻿@model DevTeamup.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<ul class="teamups row">
    @foreach (var teamup in Model.FutureTeamups)
    {
        <li class="col-md-3">
            <div class="date-And-detail">
                <div class="date">
                    <div class="month">
                        @teamup.DateTime.ToString("MMM")
                    </div>
                    <div class="day-and-year">
                        <div class="day">
                            @teamup.DateTime.ToString("d ")
                        </div>
                        <div class="year">
                            @teamup.DateTime.ToString("yyyy")
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="type">
                        @teamup.DevelopmentType.Name 
                    </div>
                    <div class="language">
                        With @teamup.DevelopmentLanguage.Name
                        
                    </div>
                    <div class="programmer">
                        Organizer: @teamup.Programmer.FirstName @teamup.Programmer.LastName                    
                    </div>                  
                </div>               
            </div>
            
            @if (Model.IsAuthenticated)
            {
                <div class="link-buttons">
                    <span>
                        <button data-teamup-id="@teamup.Id" class="btn btn-default btn-sm js-toggle-attendance">Join</button> 
                    </span>
                    <span>
                        <button data-organizer-id="@teamup.ProgrammerId" class="btn btn-link btn-sm js-toggle-favorite">Mark as Favorite</button> 

                    </span>
                    <span>
                        <button class="btn btn-link btn-sm pull-right">Details</button>
                    </span>        
                </div>
            }
           
        </li>
    }
</ul>

@section scripts {
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var buttonEvent = $(e.target);
                $.post("/api/attendances", { teamupId: buttonEvent.attr("data-teamup-id") })
                    .done(function() {
                        buttonEvent
                            .removeClass("btn-default")
                            .addClass("btn-success")
                            .text("Joined");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-favorite").click(function (e) {
                var buttonEvent = $(e.target);
                $.post("/api/favorites", { favoredUserId: buttonEvent.attr("data-organizer-id") })
                    .done(function () {
                        buttonEvent.text("Marked as Favorite");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });
    </script>
}